<div id="header">
  <div id="header-utility">
    <button class="btn btn-outline-secondary btn-sm" type="button" id="night-toggle">Dark Mode</button>
  </div>
  <div id="masthead">
    <p class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
    <p class="masthead-tagline">Thoughts on science, technology, and human nature.</p>
  </div>
  <div id="nav-wrap" class="navbar navbar-light">
    <ul id="nav" class="nav nav-pills">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
      <li><a href="{{ site.baseurl }}/topics/">Topics</a></li>
      <li><a href="{{ site.baseurl }}/notebooks/">Notebooks</a></li>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
    </ul>
  </div>
</div>
