<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elsif site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-3.3.5.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <div id="wrap" class="container">
    {% include header.html %}

    <div id="main" class="row">
      <div id="content" class="col-sm-8 col-md-8">
        {{ content }}
      </div>

      {% include sidebar.html %}
    </div>

    {% include footer.html %}
  </div>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
