<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elsif site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <div id="wrap">
    {% include header.html %}

    <div id="content">
      {{ content }}
    </div>

    {% include footer.html %}
  </div>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
