<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elsif site.description %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <div id="wrap" class="container">
    {% include header.html %}

    <div id="main" class="row">
      <div id="content" class="col-sm-8 col-md-8">
        {{ content }}
      </div>

      {% include sidebar.html %}
    </div>

    {% include footer.html %}
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
